<app-toolbar></app-toolbar>
<div fxLayout="row" fxLayoutGap="20%" fxLayout.xs="column">
  <form id="locationForm" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field>
      <input [(ngModel)]="location.name" matInput matTooltip="Enter location's name" name="name" placeholder="Name">
    </mat-form-field>

    <mat-checkbox matTooltip="Enable or disable location" [(ngModel)]="location.disabled" name="disabled">
      Disabled
    </mat-checkbox>
    <div id="mapDiv">
      <app-map [_latitude]="location.latitude" [_longitude]="location.longitude" [_zoom]="9" [_maxZoom]="13"
               [_mapName]="'location'" [_draggable]="true"></app-map>
    </div>
    <span fxLayout="row" fxLayoutGap="10px">
    <button mat-raised-button type="button" routerLink="/dashboard/locations/preview">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="createOrEditLocation()">Save</button>
  </span>
  </form>
  <app-seat-groups *ngIf="seatGroups.length > 0" [width]="700" [height]="500"
                   [seatGroups]="seatGroups"></app-seat-groups>
</div>
