<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>event</mat-icon>
    <mat-card-title>{{event.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{event.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            [matTooltip]="role === 'ROLE_ADMIN' ? 'Edit event': 'View event'"
            [routerLink]="['/dashboard/events/', event.id]">
      <mat-icon *ngIf="role === 'ROLE_ADMIN'; else viewButton">edit</mat-icon>
      <ng-template #viewButton><mat-icon>pageview</mat-icon></ng-template>
    </button>
  </mat-card-actions>
</mat-card>
