<app-toolbar></app-toolbar>
<div fxLayoutAlign="center">
  <table id="reservation_content_table">
    <tr>
      <td>No. of tickets:</td>
      <td>{{_ticketNumber}}</td>
    </tr>
    <tr>
      <td>Total price:</td>
      <td>{{_price}}$</td>
    </tr>
    <tr>
      <td>Is paid:</td>
      <td>{{_paid}}</td>
    </tr>
    <tr>
      <td>
      <span [style.visibility]="_paid==='no' ? 'visible' : 'hidden'">
      <button mat-raised-button color="primary">Pay</button>
    </span></td>
      <td><span [style.visibility]="_paid==='no' ? 'visible' : 'hidden'">
      <button mat-raised-button color="primary">Cancel</button>
    </span></td>
    </tr>
  </table>
</div>
<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px" id="tickets_div">
  <div *ngFor="let ticket of reservation.tickets" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="30px">
    <div id="`ticket_{{ticket.id}}`" style='border-style:solid;margin:40px;padding:30px; background:white'>
      <b>Event: </b>{{reservation.eventName}}<br>
      <b>Seat group: </b>{{ticket.seatGroupName}}<br>
      <b>Seat row: </b>{{ticket.rowNum == null ? "/" : ticket.rowNum}}<br>
      <b>Seat column: </b>{{ticket.colNum == null ? "/" : ticket.colNum}}<br>
      <b>Dates: </b>{{ticket.eventDays|joinEventDays}}<br>
      <qrcode [qrdata]="ticket.id.toString()" elementType="img"></qrcode>
    </div>
    <div fxLayoutAlign="center">
      <button mat-raised-button printSectionId="`ticket_{{ticket.id}}`" ngxPrint>Print</button>
    </div>
  </div>
</div>
