<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>event</mat-icon>
    <mat-card-title>{{_reservation.eventName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table id="reservation_content_table">
      <tr>
        <td>No. of tickets:</td>
        <td>{{_ticketNumber}}</td>
      </tr>
      <tr>
        <td>Total price:</td>
        <td>{{_price}}$</td>
      </tr>
      <tr>
        <td>Is paid:</td>
        <td>{{_paid}}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions fxLayout="column" fxLayoutGap="2vh">
    <div fxLayout="row" fxFlex fxLayoutAlign="center" fxLayoutGap="2vh">
      <button id="detailsButton" mat-raised-button color="primary"
              [routerLink]="['/dashboard/reservations/', this.reservation.id]">Details
      </button>
      <button id="cancelButton" *ngIf="_paid==='no'" mat-raised-button color="primary"
              (click)="cancelReservation(this.reservation)">Cancel
      </button>
    </div>
    <div *ngIf="_paid==='no'" fxLayout="row" fxFlex fxLayoutAlign="center" fxLayoutGap="2vh">
      <app-paypal-button [onAuthorizeFunction]="onAuthorizeFunction()" [paymentFunction]="paymentFunction()"
                         [buttonId]="'paypal-button-'+this.reservation.id"></app-paypal-button>
    </div>
  </mat-card-actions>
</mat-card>
