<mat-card>
  <mat-card-header>
    <mat-icon mat-card-avatar>place</mat-icon>
    <mat-card-title>{{location.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-map [_latitude]="location.latitude" [_longitude]="location.longitude" [_zoom]="9" [_maxZoom]="13"
             [_mapName]="location.name" [_draggable]="false"></app-map>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutGap="3%">
    <button mat-raised-button color="primary"
            [matTooltip]="role === 'ROLE_ADMIN' ? 'Edit location': 'View location'"
            [routerLink]="['/dashboard/locations/',
    this.location.id]">
      <mat-icon *ngIf="role === 'ROLE_ADMIN'; else viewButton">edit</mat-icon>
      <ng-template #viewButton><mat-icon>pageview</mat-icon></ng-template>
    </button>
    <mat-slide-toggle *ngIf="role === 'ROLE_ADMIN'"
                      matTooltip="Enable or disable location"
                      color="primary"
                      [checked]="!location.disabled" (change)="toggleLocationStatus($event)"></mat-slide-toggle>
  </mat-card-actions>
</mat-card>
