<div class="page">
  <app-toolbar class="header"></app-toolbar>
  <mat-card>
    <fieldset style="margin-right: 40px;">
      <legend>Change Password</legend>
      <mat-card-content>
        <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input id="oldPassword" type="password" matInput placeholder="Old Password" formControlName="oldPassword" (click)="ngForm.controls.oldPassword.markAsTouched()">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input id="password" type="password" matInput placeholder="New Password"  formControlName="password" (focus)="ngForm.controls.password.markAsTouched()">
              <mat-error id="newPasswordError" *ngIf="ngForm.controls.password.invalid">Your password must contain at least one uppercase, one lowercase,
                one number and one special character. Password must be at least 8 characters long.</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input id="repeatedPassword" type="password" matInput placeholder="Repeat New Password" formControlName="repeatedPassword" (focus)="ngForm.controls.repeatedPassword.markAsTouched()">
              <mat-error id="repeatedPasswordError" *ngIf="ngForm.controls.repeatedPassword.invalid">Your password must contain at least one uppercase, one lowercase,
                one number and one special character. Password must be at least 8 characters long.</mat-error>
            </mat-form-field>
          </p>
          <div class="button">
            <button mat-raised-button color="primary"
                    [matTooltip]="'Return'" type="submit" id="returnButton">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-raised-button color="primary"
                    [matTooltip]="'Change Password'" type="submit" id="editButton" [disabled]="!ngForm.valid">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>
    </fieldset>
  </mat-card>
</div>
