<mat-toolbar color="primary" fxLayout="row" fxLayout.xs="column">
  <span fxLayoutAlign="left" fxFlex>
    <a mat-button routerLink="/dashboard/events/preview">My application</a>
    <button routerLink="/dashboard/events/preview" mat-button>Events</button>
    <button routerLink="/dashboard/locations/preview" mat-button>Locations</button>
    <button mat-button>Reports</button>
  </span>
  <span fxLayoutAlign="right">
    <button mat-button>My profile</button>
    <button mat-button>Logout</button>
  </span>
</mat-toolbar>
