<mat-toolbar color="primary" fxLayout="row" fxLayout.xs="column">
  <span fxLayoutAlign="left" fxFlex>
    <a mat-button routerLink="/dashboard/events/preview">My application</a>
    <button routerLink="/dashboard/events/preview" mat-button>Events</button>
    <button routerLink="/dashboard/locations/preview" mat-button>Locations</button>
    <button routerLink="/dashboard/reports" mat-button>Reports</button>
  </span>
  <span fxLayoutAlign="right">
    <button *ngIf="isLogged" mat-button>My profile</button>
    <button *ngIf="isLogged" (click)="logOut()" mat-button>Logout</button>
    <button *ngIf="!isLogged" routerLink="/login" mat-button>Login</button>
    <button *ngIf="!isLogged" routerLink="/register" mat-button>Register</button>
  </span>
</mat-toolbar>
