<div class="page">
  <app-toolbar class="header"></app-toolbar>

  <div class="content">
    <div *ngIf="_content==='locations'">
      <app-location-preview-list (locationsPageChanged)="contentPageChanged($event)">
      </app-location-preview-list>
    </div>
    <div *ngIf="_content==='events'">
      <app-event-preview-list (eventsPageChanged)="contentPageChanged($event)"></app-event-preview-list>
    </div>
    <div *ngIf="_content==='reservations' && getRole == 'ROLE_USER'">
      <app-reservation-preview-list
        (reservationsPageChanged)="contentPageChanged($event)"></app-reservation-preview-list>
    </div>
  </div>

  <div class="footer">
    <div *ngIf="authService.getRole() === 'ROLE_ADMIN' && (_content==='locations' || _content==='events')"
         fxLayoutAlign="end"
         id="add">
      <button mat-fab color="primary" [routerLink]='["/dashboard", _content]'>
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <app-paginator class="footer" (pageChangedEvent)="pageChanged($event)"></app-paginator>
  </div>
</div>
